<div class="menu-item-container no-transition">
	<div class="menu-item-container-inner clearfix">
		{{!-- items rendered here --}}
	</div>
	<div class="menu-item-indicator-container">
		<div class="menu-item-indicator-container-inner clearfix">
			{{!-- indicators rendered here --}}
		</div>
	</div>
	<button class="base menu-item-control left icon icon-controls-left"></button>
	<button class="base menu-item-control right icon icon-controls-right"></button>
</div>
