<div class="covermenu-item__container no-transition">
  {{!-- items rendered here --}}
</div>
<div class="covermenu-item__indicator__container">
  {{!-- indicators rendered here --}}
</div>
<button class="base covermenu-item__control covermenu-item__control__back icon icon-controls-left"></button>
<button class="base covermenu-item__control covermenu-item__control__next icon icon-controls-right"></button>